{% extends 'base.html' %}

{% block content %}

<!-- my_profile.html -->
<h1 class="text-center mt-4">My Profile</h1>


<div class="card text-center mx-auto mt-3" style="width: 40rem;">
    <div class="card-body text-center">
        <h5>Username:
            <span style='color:#0e399c' class="font-weight-bold">
                {{ user_profile.user.username }}
            </span>
        </h5>
    </div>
</div>

<div class="card text-center mx-auto mt-3" style="width: 40rem;">
    <div class="card-body text-center">
        <h5>Phone Number:
            <span style='color:#2b4788' class="font-weight-bold">
                {{ user_profile.phone_number }}
            </span>
        </h5>
    </div>
</div>

<div class="card text-center mx-auto mt-3" style="width: 40rem;">
    <div class="card-body text-center">
        <h5>Date of Birth:
            <span style='color:#2b4788' class="font-weight-bold">
                {{ user_profile.date_of_birth }}
            </span>
        </h5>
    </div>
</div>

<div class="card text-center mx-auto mt-3" style="width: 40rem;">
    <div class="card-body text-center">
        <h5>Bio:
            <span style='color:#0f0f11' class="">
                {{ user_profile.bio }}
            </span>
        </h5>
    </div>
</div>


{% endblock %}
