{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text"><strong>Welcome to WealthyWay Blog</strong>, where intellectual opulence converges with financial sagacity. 
            <p>We are purveyors of erudition and empowerment, navigating the labyrinthine realms of wealth accumulation and financial acumen. Our virtuoso contributors wield their expertise to unravel the intricate tapestry of fiscal stratagems, steering you toward opulence and fiscal felicity.</p>
            <p>
            At WealthyWay, we endeavor to be your lodestar, illuminating the trajectory to financial ascendancy through insightful analyses, prudent investments, and perspicacious guidance. We believe that financial opulence is attainable through education, and we're dedicated to furnishing you with the arsenal of knowledge necessary for success.</p>
            
            Join us on this cerebral expedition toward financial eminence, and together, we'll pave your WealthyWay...!</p>
        <a href="#"
           class="btn btn-danger">Welcome!</a>
    </div>
</div>
</div>

{% endblock sidebar %}